.top-page {
    display: flex;
}

.side-bar {
    width: 500px;
    background-color: rgb(199, 182, 147);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memory-record {
    font-size: 20px;
}

.memory-btn {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
}

.memory-tab {
    border: 1px solid rgb(199, 182, 147);
    background-color: white;
    text-align: center;
    border-radius: 100%;
    width: 120px;
    height: 50px;
    line-height: 50px;
}

.memory-tab a {
    display: block;
}

.memory-now {
    border: 1px solid rgb(199, 182, 147);
    background-color: black;
    text-align: center;
    border-radius: 100%;
    width: 120px;
    height: 50px;
    line-height: 50px;
}

.memory-now a {
    color: white;
    display: block;
}

/* record_form */

.memory-form {
    height: 610px;
    width: 460px;
    background-color: white;
    padding: 20px;
    overflow: scroll;
}

.form-field {
    margin-bottom: 12px;
}

#memory-title {
    border: none;
    border-bottom: 1px solid rgb(206, 165, 84);
    outline: none;
    width: 100%;
}

.form-place {
    display: flex;
}

#record_prefecture_id {
    border: none;
    border-bottom: 1px solid rgb(206, 165, 84);
    outline: none;
    width: 100px;
}

#memory-place {
    border: none;
    border-bottom: 1px solid rgb(206, 165, 84);
    outline: none;
    width: 320px;
}

#memory-content {
    width: 100%;
    height: 400px;
    outline: none;
}

.record-btn {
    width: 100%;
    padding: 8px;
    color: white;
    border: 1px solid rgb(206, 165, 84);
    background-color: rgb(206, 165, 84);
}

/* google-map */

.google-map {
    width: calc(100vw - 500px);
    height: 88vh;
    position: relative;
}

.map-form {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 6;
}

#map {
    height: 100%;
    width: 100%;
}

